body{
    margin: 0px;
}
div{
    width: 200px;
    height: 400px;
    background-color: aqua;
}
#one{
    background-color: rgb(219, 137, 137);
    border-width: 3px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    text-align:center;
}
#two{
    border: 3px dashed rgb(201, 1, 1) ;
}
button{
    padding: 20px 20px;  /*This is an example for padding by using Verical | Horizontal*/
    margin-left: 30px;
}